Repository pyyupsk/npm-ts-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: bun run lint

typecheck:
  run: bun run typecheck

chore(release): v0.1.2
  CHANGELOG.md
  package.json
Due: lint

refactor(tooling): migrate from Biome to Prettier and ESLint
  .prettierrc
  CHANGELOG.md
  biome.json
  bun.lock
  commitlint.config.ts
  eslint.config.ts
  package.json
  tests/index.test.ts
Due: lint, typecheck

docs: update documentation for Prettier and git-cliff migration
  .vscode/extensions.json
  .vscode/settings.json
  docs/.vitepress/config.ts
  docs/configuration/biome.md
  docs/configuration/prettier.md
  docs/guides/ci-cd.md
  docs/guides/publishing.md
  docs/index.md
  docs/reference/scripts.md
Due: lint, typecheck

feat: add repository setup script and Dependabot config
  .github/dependabot.yml
  scripts/setup-repo.sh
Due: none

chore(deps): update dependencies
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  bun.lock
  package.json
Due: lint

chore: update README, add preact override, and run Prettier in release
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  bun.lock
  package.json
Due: lint

Path conditions:
  lint: any of: *.{ts,tsx,js,jsx,json}
  typecheck: any of: *.{ts,tsx}
