Repository pyyupsk/npm-ts-template: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{ts,tsx,js,jsx,json}"
      run: bun run lint
    typecheck:
      glob: "*.{ts,tsx}"
      run: bun run typecheck

commit-msg:
  commands:
    commitlint:
      run: bunx commitlint --edit {1}

feat: add GitHub workflows and project configuration
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  biome.json
  bun.lock
  commitlint.config.ts
  knip.json
  package.json
Due: lint, typecheck

chore: scope package under @pyyupsk namespace
  README.md
  bun.lock
  package.json
Due: lint

feat: add changelog workflow for release notes generation
  .github/workflows/changelog.yml
Due: none

feat: add ESLint with JSDoc linting
  bun.lock
  commitlint.config.ts
  eslint.config.ts
  package.json
  src/index.ts
Due: lint, typecheck

feat: add SonarJS ESLint plugin for code quality analysis
  README.md
  bun.lock
  eslint.config.ts
  package.json
Due: lint, typecheck

docs: add VitePress documentation site
  .gitignore
  README.md
  biome.json
  bun.lock
  docs/.vitepress/config.ts
  docs/configuration/biome.md
  docs/configuration/eslint.md
  docs/configuration/lefthook.md
  docs/configuration/typescript.md
  docs/configuration/vitest.md
  docs/getting-started.md
  docs/guides/ci-cd.md
  docs/guides/publishing.md
  docs/guides/testing.md
  docs/guides/writing-code.md
  docs/index.md
  docs/reference/scripts.md
  eslint.config.ts
  package.json
Due: lint, typecheck

docs: add favicon for documentation site
  docs/.vitepress/config.ts
  docs/public/favicon.svg
Due: lint, typecheck

ci: add GitHub Actions workflow for docs deployment
  .github/workflows/docs.yml
Due: none

docs: add documentation guide and update CI/CD guide
  .gitignore
  biome.json
  docs/.vitepress/config.ts
  docs/guides/ci-cd.md
  docs/guides/documentation.md
  docs/reference/scripts.md
  eslint.config.ts
Due: lint, typecheck

docs: add repository settings documentation to CI/CD guide
  docs/guides/ci-cd.md
Due: none

ci: move permissions to job level in docs workflow
  .github/workflows/docs.yml
Due: none

chore: add changeset for v0.1.0 and configure changelog-github
  .changeset/add-docs-and-eslint.md
  .changeset/config.json
  bun.lock
  package.json
Due: lint

fix(ci): use dynamic version in release commit message
  .github/workflows/release.yml
  docs/guides/ci-cd.md
Due: none

fix(ci): add GITHUB_TOKEN for changelog-github plugin
  .github/workflows/release.yml
  docs/guides/ci-cd.md
Due: none

docs: use Keep a Changelog format, disable auto-generation
  .changeset/config.json
  CHANGELOG.md
Due: lint

chore: remove unused changelog-github dependency
  bun.lock
  package.json
Due: lint

chore: re-enable basic changelog generation
  .changeset/config.json
Due: lint

feat: add markdownlint for changeset files
  .markdownlint.json
  bun.lock
  lefthook.yml
  package.json
Due: lint

docs: update publishing guide with changeset formatting workflow
  docs/guides/publishing.md
Due: none

docs: update CHANGELOG with PR changes
  CHANGELOG.md
Due: none

fix(ci): configure npm auth for publishing
  .github/workflows/release.yml
Due: none

fix(ci): pass npm token via env variable, push tags after publish
  .github/workflows/release.yml
Due: none

refactor(ts): extend `@tsconfig/strictest` for multi-target flexibility
  bun.lock
  docs/configuration/typescript.md
  package.json
  tsconfig.json
Due: lint

fix(ci): resolve release workflow issues
  .github/workflows/release.yml
  docs/guides/ci-cd.md
Due: none

fix(ci): add git config for tag creation
  .github/workflows/release.yml
Due: none

fix(ci): resolve release workflow issues (#3)
  .github/workflows/release.yml
  docs/guides/ci-cd.md
Due: none

fix(deps): override esbuild to fix security vulnerability
  bun.lock
  package.json
Due: lint

refactor(ci): use changesets/action for release workflow
  .github/workflows/release.yml
  docs/guides/ci-cd.md
  docs/guides/publishing.md
Due: none

chore: add changeset for v0.1.1
  .changeset/release-workflow-and-security.md
Due: none

fix(ci): wrap version command in bash for shell operators
  .github/workflows/release.yml
  docs/guides/ci-cd.md
Due: none

fix(ci): use single quotes for bash command
  .github/workflows/release.yml
  docs/guides/ci-cd.md
Due: none

fix(ci): add changeset:version script to avoid shell quoting issues
  .github/workflows/release.yml
  docs/guides/ci-cd.md
  package.json
Due: lint

docs: update changelog format to match changesets style
  CHANGELOG.md
  docs/guides/publishing.md
Due: none

fix(ci): integrate changelogithub into release workflow
  .github/workflows/changelog.yml
  .github/workflows/release.yml
  docs/guides/ci-cd.md
Due: none

refactor(ci): replace changesets with manual release workflow
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  bun.lock
  package.json
Due: lint

feat(ci): switch to git-cliff for changelog generation
  .github/workflows/release.yml
  CHANGELOG.md
  cliff.toml
  package.json
Due: lint

chore(deps): update GitHub Actions dependencies
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  bun.lock
  package.json
Due: lint

fix(ci): avoid expanding secrets in run block
  .github/workflows/release.yml
Due: none

fix(ci): use setup-node for secure npm authentication
  .github/workflows/release.yml
Due: none

fix(ci): use GH_PAT for checkout to bypass branch ruleset
  .github/workflows/release.yml
Due: none
